* {
    /* --ls-primary-background-color: #ffffff; */
    --ls-secondary-background-color: #799eb161;
    --ls-tertiary-background-color: #fff;
    --ls-quaternary-background-color: #fff;
}

.page-reference:hover {
    /* undo rule in Logseq */
    /* background: var(--ls-secondary-background-color); */
    background: none;
}